// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    // max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    // max-width: none;
  }
}

// Body Locked
body {
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;

  &.locked {
    overflow: hidden;
  }
}

html,
body {
  min-height: 100vh;
}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: var(--text-dark);

  @media (max-width: $breakpoint992) {
    font-size: 32px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 24px;
  }
}

.form-input {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 47px;
  padding: 8px 15px;
  padding-bottom: 0;
  background-color: var(--bg);
  border: 1px solid #96A1C5;
  border-radius: 7px;
  outline: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: var(--text-dark);
  transition: border-color 0.2s;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: transparent;
  }
}

.form-group {
  position: relative;
  width: 100%;
}

.form-error {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: #DC5068;
}


.form-group .form-input:placeholder-shown~.form-label {
  top: 15px;
  left: 15px;
  cursor: text;
}


.form-group .form-label {
  position: absolute;
  top: 3px;
  left: 15px;
  display: block;
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 12px;
  color: #96A1C5;
  // opacity: 0;
  pointer-events: none;
}

.form-group .form-input:focus {
  border: 1px solid #63CB75;
}

.form-group .form-input:focus~.form-label {
  position: absolute;
  top: 3px;
  left: 15px;
  transition: 0.2s;
}

/* reset input */
.form-group .form-input:required,
.form-group .form-input:invalid {
  box-shadow: none;
}



.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 100%;
  padding: 8px;
  background-color: var(--primary);
  border-radius: 7px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #F0F3FF;
  transition: background-color 0.2s linear;

  &:disabled {
    cursor: default;
    background-color: var(--border);
    color: var(--text-grey);
  }
}

.form-eye {
  position: absolute;
  right: 16px;
  top: 60%;
  transform: translateY(-50%);
  background-color: transparent;

  img {
    user-select: none;
    pointer-events: none;
  }
}

.ui-selectmenu-button {
  flex: 0 1 214px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71px;
  padding: 10px;
  background-color: var(--src-input);
  border-radius: 14px;
  cursor: pointer;

  &.active .sending__departure-list {
    display: flex;
  }

  @media (max-width: $breakpoint992) {
    flex: 0 1 auto;
    width: 100%;
  }

  @media (max-width: $breakpoint768) {
    justify-content: flex-start;
    height: 48px;
    padding: 13px 13px 10px 13px;
  }
}

.ui-selectmenu-button.ui-button {
  width: 100%;
}

.ui-button {
  border: 0;
  background: none;
}

.ui-button .ui-icon {
  background: none;
  width: 0;
  height: 0;
}

.ui-button:hover,
.ui-button:focus {
  border: 0;
  background: inherit;
}



.ui-selectmenu-menu .ui-menu {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--primary);
  border-radius: 14px;
  background-color: var(--bg);
  animation: fade 0.2s linear;
  z-index: 2;

  @media (max-width: $breakpoint768) {
    padding: 12px;
    column-gap: 12px;
    row-gap: 12px;
  }
}

.ui-menu .ui-state-active {
  margin: 0;
}

.ui-widget-content {
  background-color: var(--bg);
  color: var(--text-dark);
}

.ui-selectmenu-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--text-dark);
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }

  @media (max-width: $breakpoint768) {
    font-size: 16px;
  }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-menu .ui-menu-item-wrapper {
  border: 0;
  background: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--text-dark);
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }

  @media (max-width: $breakpoint768) {
    font-size: 16px;
  }
}

.ui-menu .ui-menu-item-wrapper:hover {
  background-color: inherit;
}







/*datapicker*/

.datepicker {
  position: absolute;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
  color: #000000;
}

.datepicker-years .datepicker-switch {
  visibility: hidden;
}


.datepicker-prev {
  background-color: #F9F9FF !important;
}

.datepicker-prev::before {
  content: url("../img/prev.svg");
}

.datepicker-next {
  background-color: #F9F9FF !important;
}

.datepicker-next::before {
  content: url("../img/next.svg");
}

.datepicker.datepicker-dropdown {
  border-radius: 10px;
  border: 0px;
  background-color: #F9F9FF !important;
  box-shadow: 11px 19px 39px 0px rgba(211, 215, 227, 0.47);
}

.day,
.datepicker-switch,
.month,
.year {
  transition: all 0.5s ease;
}

.day:hover,
.datepicker-switch:hover,
.month:hover,
.year:hover {
  background-color: #E1E8FF !important;
  transition: all 0.5s ease;
}

.day.active,
.datepicker-switch.active,
.month.active,
.year.active {
  background: #B4C0E9 !important;
}

.day,
.month,
.year {
  font-weight: 500;
  font-size: 14px;
  padding: 0 8px;
  color: #000000 !important;
  text-shadow: none !important;
}

.day.new,
.day.old,
.month.new,
.month.old,
.year.new,
.year.old {
  color: #818895 !important;
}

.datepicker-dropdown.datepicker-orient-bottom::before {
  content: url("../img/datepicker-arrow.svg");
  border: none;
  top: -12px !important;
}

.datepicker-dropdown.datepicker-orient-bottom::after {
  display: none;
}

.datepicker-dropdown.datepicker-orient-bottom:after .dow {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0px;
}

.datepicker-days::before {
  content: "Выберите дату";
  color: #1B4CFB;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  text-align: center;
  display: block;
  margin: 10px 0px 25px 0px;
}

.sending__datapicker-input {
  background-image: url(../img/datapicker.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px);
  background-color: #EDF0F8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #17161B;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 10px;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
  }
}

@media (max-width: 992px) {

  .sending__datapicker-input {
    width: 100%;
  }
}

.sending__datapicker-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.sending__datapicker-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.sending__datapicker-input::placeholder {
  color: #17161B;
  font-weight: 500;
  font-size: 15px;
}


.datepicker tfoot::before {
  content: "Готово";
  color: #1B4CFB;
  font-size: 14px;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: right;
  padding-right: 12px;
  margin: 23px 0px 10px 0px;
  cursor: pointer;
}

.datepicker td,
.datepicker th {
  width: 24px;
  height: 24px;
  margin: 5px 5px;
  display: inline-block;
  text-align: center;
  border-radius: 3px !important;
  padding: 3px 4px;
}

.datepicker-dropdown.datepicker-orient-top:before {
  border-top: 7px solid transparent !important;
  border-left: 7px solid transparent !important;
  border-right: 7px solid transparent !important;
}

.datepicker table tr td.highlighted {
  background: #E1E8FF;
}

.datepicker .datepicker-switch,
.datepicker .next,
.datepicker .prev {
  background-color: #F9F9FF !important;
}

.datepicker .datepicker-switch {
  margin-bottom: -5px;
}

.datepicker-years td,
.datepicker-years th,
.datepicker-months td,
.datepicker-months th {
  display: table-cell;
}