.package {
  position: relative;
  padding-bottom: 260px;
  // overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 891px;
    height: 891px;
    background: #C2CBFF;
    filter: blur(600px);
    z-index: -1;
  }

  @media (max-width: $breakpoint992) {
    padding-bottom: 160px;

    &::before {
      width: 600px;
      height: 600px;
      filter: blur(400px);
    }
  }

  @media (max-width: $breakpoint768) {
    padding-bottom: 116px;

    &::before {
      content: none;
    }
  }

  // .package__title

  &__title {
    margin-bottom: 34px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 24px;
    }

  }

  // .package__descr

  &__descr {
    max-width: 820px;
    margin: 0 auto;
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: var(--text-grey);

    @media (max-width: $breakpoint992) {
      margin-bottom: 50px;
      font-size: 18px;
    }


    @media (max-width: $breakpoint768) {
      margin-bottom: 30px;
      font-size: 12px;
    }

  }

  // .package__sending

  &__sending {
    margin-bottom: 66px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }

  }

  &__cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    &>li:nth-child(2) {
      margin-top: 70px;

      @media (max-width: $breakpoint992) {
        margin-top: 0;
      }
    }

    @media (max-width: $breakpoint992) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &>li {
        flex: 0 1 calc(50% - 40px);
      }
    }

    @media (max-width: $breakpoint768) {

      &>li {
        flex: 0 1 100%;
      }

      &>li:nth-child(-n+2) {
        display: none;
      }
    }
  }

  // .package__cards

  &__cards {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
  }

  // .package__card

  &__card {
    padding: 30px;
    background-color: var(--bg);
    box-shadow: 0px 3px 12px var(--border);
    border-radius: 24px;

    @media (max-width: $breakpoint768) {
      padding: 25px;
      box-shadow: 0px 3px 11px #E1E8FF;
      border-radius: 21px;
    }

  }

  // .package__card-top

  &__card-top {
    display: flex;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 30px;

    @media (max-width: $breakpoint768) {
      column-gap: 14px;
      row-gap: 14px;
    }

  }

  // .package__card-img

  &__card-img {
    max-width: 70px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: #B4C0E9;
    border-radius: 14px;
    object-fit: contain;

    @media (max-width: $breakpoint768) {
      max-width: 62px;
      width: 62px;
      min-width: 62px;
      height: 62px;
    }

  }

  // .package__card-info

  &__card-info {}

  // .package__card-title

  &__card-title {
    display: flex;
    align-items: center;
    column-gap: 16px;
    row-gap: 16px;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    color: var(--text-dark);

    @media (max-width: $breakpoint768) {
      column-gap: 14px;
      row-gap: 14px;
      font-size: 20px;
    }


    span {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 4px;
      row-gap: 4px;
      width: 45px;
      min-width: 45px;
      height: 18px;
      min-height: 18px;
      background-color: var(--primary);
      border-radius: 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 150%;
      color: var(--bg);

      @media (max-width: $breakpoint768) {
        column-gap: 3px;
        row-gap: 3px;
        width: 40px;
        min-width: 40px;
        height: 16px;
        min-height: 16px;
      }

    }
  }

  // .package__card-sending

  &__card-sending {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-grey);

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }

  }

  // .package__card-middle

  &__card-middle {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    margin-bottom: 38px;
  }

  // .package__card-group

  &__card-group {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
  }

  // .package__card-label

  &__card-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-grey);

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }

  }

  // .package__card-detail

  &__card-detail {
    display: flex;
    align-items: center;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-dark);

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }

  }

  // .package__card-link

  &__card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 14px;
    height: 48px;
    min-height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary);

    @media (max-width: $breakpoint768) {
      padding: 10px;
      font-size: 14px;
    }

  }

  // .package__cards-more

  &__cards-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  // .package__cards-more-link

  &__cards-more-link {
    padding: 25px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 14px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--bg);

    @media (max-width: $breakpoint992) {
      padding: 20px;
      font-size: 20px;
    }


    @media (max-width: $breakpoint768) {
      padding: 12px;
      font-size: 16px;
    }

  }
}


.sending {


  // .sending__inner

  &__inner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    padding: 15px;
    background-color: var(--bg);
    box-shadow: 11px 19px 39px rgba(211, 215, 227, 0.47);
    border-radius: 20px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      max-width: 800px;
    }

    @media (max-width: $breakpoint768) {
      column-gap: 12px;
      row-gap: 12px;
      padding: 12px;
      border-radius: 14px;
    }
  }

  // .sending__departure

  &__departure {
    flex: 0 1 214px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 71px;
    padding: 10px;
    background-color: var(--src-input);
    border-radius: 14px;
    cursor: pointer;

    &.active .sending__departure-list {
      display: flex;
    }

    & img {
      position: absolute;
      right: 30px;
      user-select: none;
      pointer-events: none;

      @media (max-width: $breakpoint768) {
        right: 15px;
      }
    }

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      width: 100%;
    }

    @media (max-width: $breakpoint768) {
      height: 48px;
      padding: 13px 13px 10px 13px;
    }
  }

  // .sending__departure-select

  &__departure-select {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    row-gap: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-dark);

    @media (max-width: $breakpoint768) {
      width: 100%;
      justify-content: space-between;
      font-size: 16px;
    }
  }

  // .sending__departure-list

  &__departure-list {
    // position: absolute;
    // top: 0;
    // left: 0;
    // display: none;
    // flex-direction: column;
    // column-gap: 20px;
    // row-gap: 20px;
    width: 100%;
    padding: 20px;
    // border: 1px solid var(--primary);
    border-radius: 14px;
    // background-color: var(--bg);
    animation: fade 0.2s linear;
    z-index: 2;

    .sending__departure-item {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: var(--text-dark);
      cursor: pointer;

      &:hover {
        color: var(--primary);
      }

      @media (max-width: $breakpoint768) {
        font-size: 16px;
      }
    }

    @media (max-width: $breakpoint768) {
      padding: 12px;
      column-gap: 12px;
      row-gap: 12px;
    }
  }

  // .sending__departure-item

  &__departure-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-dark);
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .sending__cities

  &__cities {
    position: relative;
    flex: 0 1 458px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
    height: 71px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 14px;
      transform: translate(-50%, -50%);
      background-image: url('../img/cities-decor.svg');
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: $breakpoint768) {
        width: 28px;
        height: 9px;
      }
    }

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      width: 100%;
    }

    @media (max-width: $breakpoint768) {
      height: 48px;
      column-gap: 12px;
      row-gap: 12px;
    }
  }

  // .sending__city

  &__city {
    max-width: 214px;

    @media (max-width: $breakpoint992) {
      max-width: 100%;
      width: 100%;
    }
  }

  // .sending__city-input

  &__city-input {
    width: 100%;
    height: 71px;
    padding: 10px 20px 10px 38px;
    background-color: var(--src-input);
    border-radius: 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-dark);
    outline: 0;

    @media (max-width: $breakpoint768) {
      height: 48px;
      padding: 12px 14px;
      font-size: 16px;
    }
  }

  // .sending__datapicker

  &__datapicker {
    flex: 0 1 183px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    padding: 10px;
    background-color: var(--src-input);
    border-radius: 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-dark);
    cursor: pointer;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      width: 100%;
    }

    @media (max-width: $breakpoint768) {
      justify-content: space-between;
      height: 48px;
      padding: 12px 14px;
      font-size: 16px;
    }
  }

  // .sending__datapicker-data

  &__datapicker-data {
    display: flex;
    align-items: center;
    column-gap: 12px;
    row-gap: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-dark);

    @media (max-width: $breakpoint768) {
      width: 100%;
      justify-content: space-between;
      font-size: 16px;
    }
  }

  &__datapicker-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    width: 100%;
    padding: 10px;
    background-color: var(--src-input);
    border-radius: 14px;
    outline: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-dark);

    @media (max-width: $breakpoint768) {
      height: 48px;
      padding: 12px 14px;
      font-size: 16px;
    }
  }

  // .sending__datapicker-img

  &__datapicker-img {}

  // .sending__btn

  &__btn {
    flex: 0 1 173px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    padding: 10px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 14px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--bg);

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      width: 100%;
    }

    @media (max-width: $breakpoint768) {
      margin-top: 8px;
      height: 48px;
      padding: 12px;
      font-size: 16px;
    }
  }
}

.selected {}